{
    "extends": ["airbnb", "eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "rules": {
        "no-anonymous-exports-page-templates": "warn",
        "limited-exports-page-templates": "warn"
    }
}
